@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffff;
  --foreground: #171717;

  --primary: #05c4e6;
  --primary-50: #bad5d8;


  --secondary:#fab00b;
  --secondary-50:#df9c0d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.modern-scroll {
  scrollbar-width: thin;
  scrollbar-color: #a3a3a3 #f0f0f0; /* Thumb color and track color for Firefox */
  border-radius: 10px;
}

.modern-scroll::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.modern-scroll::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
  border-radius: 10px; /* Rounded track corners */
}

.modern-scroll::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* Thumb color */
  border-radius: 10px; /* Rounded thumb corners */
  border: 3px solid #f0f0f0; /* Adds space around the thumb */
}

.modern-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #7a7a7a; /* Darker color on hover */
}


.not-selector {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  scroll-behavior: smooth;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-Chakra-Petch), var(--font-Noto-Kufi);
}

.icon {
  font-family: var(--icon);
}

.show_bg_2 {
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.853)),
    url('https://images.pexels.com/photos/2162689/pexels-photo-2162689.jpeg');
  width: 100%;
  /* height: 400px; */
  background-size: cover;
  color: white;
  padding: 20px;
}



.overlay {
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.693));
  width: 100%;
  /* height: 400px; */
  background-size: cover;

}

.container-x {
  padding: 10px 100px;
}

.hidden-scroll {
  /* For Chrome, Safari, and Edge */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Edge */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}