@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffff;
  --foreground: #171717;

  --primary: #0096b1;
  --primary-50: #bad5d8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-Chakra-Petch), var(--font-Noto-Kufi);
}

.icon {
  font-family: var(--icon);
}

.show_bg_2 {
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.853)),
    url('https://images.pexels.com/photos/2162689/pexels-photo-2162689.jpeg');
  width: 100%;
  /* height: 400px; */
  background-size: cover;
  color: white;
  padding: 20px;
}



.overlay {
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.693));
  width: 100%;
  /* height: 400px; */
  background-size: cover;

}

.container-x {
  padding: 10px 100px;
}

.hidden-scroll {
  /* For Chrome, Safari, and Edge */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Edge */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}